/week_2_data_ingestion/airflow/logs/scheduler/latest
/week_1_-_basics_and_setup/docker_sql/taxi+_zone_lookup.csv
/week_1_-_basics_and_setup/docker_sql/yellow_tripdata_2021-01.csv
/week_1_-_basics_and_setup/terraform_gcp/data-engineering-339113-c9b77b5af845.json
week_2_data_ingestion/airflow/logs
